:root{
--roxo-escuro: #251D3A;
--roxo-claro: #2A2550 ;
--laranja-forte: #E04D01;
--laranja: #FF7700;
}
 body{
     background-color: black;
     margin: 0;
 }

 /* cores
  roxo-escuro(#251D3A)
  roxo-claro(#2A2550)
  laranja-forte(#E04D01)
  laranja(#FF7700) */
 
 .cabecalho .container{
     display: flex; 
     align-items: center;
     justify-content: space-between;
     background-color: var(--laranja-forte) ;
     border: 3px solid var(--laranja);
     
 }
 .container{
     height: 10vh;
 }
 .cabecalho-nav{
     
     padding: 10px;
 }
.cabecalho-nav-link{
    background-color: var(--roxo-claro);
    border-radius: 3px;
    padding: 10px 20px;
    color: seashell;
    font-family: 'times new roman', serif;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 5px 5px 2px var(--roxo-escuro);
     
}
.titulo{
   display:grid;
   font-size: 15px;
   text-align: center;
   text-shadow: 3px 3px 3px var(--roxo-escuro);
  
   
   
   
    
}

.titulo a{
    text-decoration: none;
    font-size: 45px;
    margin-left: 15px;
    ;
    margin-top: 0;
    padding: 0;
}
.agentes{
    text-align: center;
    margin-left: 15px;
}
.conteudo{
    background-image: url("fundo-space.jpg");
    background-size: cover;
    margin: auto;
    height: auto;
   
    border: 5px solid var(--roxo-escuro);
    padding: 15px;
}
.conteudo-container{
    background-image: url("textura-papel-velho.jpg");
    background-size: cover;
    flex-wrap: wrap;
    
    margin: auto;
    width: 70%;
    font-family: 'syne mono', monoscope;
    padding: 15px;
    text-align: center;
}
.texto{
    color: rgb(59, 56, 56);
    font-size: 20px;
    
    font-weight: 300;
    padding-top: 50px;
}
.footer{
    
    border: 3px solid var(--laranja);
    background-color: var(--laranja-forte) ;
    
}
.seligue{
    color: white;
    text-align: center;
}
.conto{
    font-size: 40px;
}
.boas{
    font-size: 50px;
}
#livros {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("fundo-space.jpg");
    background-size: cover;
    margin: auto;
    height: auto;

  }
.livro {
    width: 402px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 1rem;
    color: rgb(240, 233, 233);
    background-color: #251d3a86;
    text-align: center;
    cursor: pointer;
    border: solid 1px white;
    margin: 3px;
}
